.options-container.active {
    outline: none;
    position: fixed;
    z-index: 10;
    background-color: rgb(49, 49, 49);
    display: flex;
    flex-direction: column;
    border-radius: 2px;
}

.options-container.inactive {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-20px);
}

.options-item {
    font-size: 14px;
    padding: 8px 18px;
}

.options-item:hover {
    cursor: pointer;
    background-color: var(--background-tinted-base);
}