.spotify-playlist-list {
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-top: 0rem;
  padding-bottom: 3rem;
}

.results-list{
  min-height: 30vh;
}

.results-heading {
  cursor: pointer;
}
