.spotify-playlist-preview {
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--background-base);
    justify-content: space-between;
    padding: 0.5rem;
    transition: border-color 0.3s; /* Add transition for smooth effect */
    font-size: 1.1rem;
    width: 11rem;  
    /* max-width: 11rem; */
    /* max-width: 40rem; */
    height: 15rem;
    flex-grow: 1;
    font-size: 17px;
    flex:1;
    flex-basis: 25%;

    .play-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 1.5rem;
        max-height: 1.5rem;
        cursor: pointer;
        margin: 0;
        opacity: 1;
    }

    .source-icon {
        position: absolute;
        top: 10%;
        left: 10%;
        transform: translate(0%, 0%);
        max-width: 1.5rem; 
        max-height: 1.5rem; 
        margin: 0;
        opacity: 0.7;
        fill: var(--essential-bright-accent);
    }

    .essential-info{
        display: grid;
        align-items: center;
        justify-content: space-between;
        margin-left: 0.20rem;
        .thumbnail-container {
            position: relative;
            /* margin-right: 1rem; */
            object-fit: cover;
            margin-left: 0px !important;
            
            .thumbnail {
                width: 10em;
                height: 10em; 
                object-fit: cover;
                border-radius: 10px;
            }
            .play-icon {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                max-width: 1.5rem;
                max-height: 1.5rem;
                cursor: pointer;
                margin: 0;
                opacity: 0;
            }
        }
        
        .details {
            /* max-width: 28em; */
            max-width: 10em;
            .name {
                color: var(--text-base);
                font-size: 1.2rem;
                overflow: hidden; /* Hide any overflowing content */
                text-overflow: ellipsis; /* Display an ellipsis (...) for the truncated text */
            }
            .artist {
                color: var(--text-subdued);
                font-size: 1rem;
                overflow: hidden; /* Hide any overflowing content */
                text-overflow: ellipsis; /* Display an ellipsis (...) for the truncated text */
            }
            overflow: hidden; /* Hide any overflowing content */
            text-overflow: ellipsis; /* Display an ellipsis (...) for the truncated text */
            white-space: nowrap;
        }
    }


    
    
    .stats {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .options-icon {
            max-width: 1.15rem;
            max-height: 1.15rem;
            cursor: pointer;
            margin-right: 0.5rem; 
            margin-left: 0;
            opacity: 0;
            position: absolute;
            top: 3rem;
            right: 1rem;
            rotate: 90deg;
        }
    }

    .options {
        top: 3rem;
        right: 2.5rem;
        position: absolute;
    }
}



.spotify-playlist-preview:hover {
    .source-icon {
        opacity: 1;
    }
}
