.spotify-preview {
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--background-base);
    justify-content: space-between;
    padding: 0.5rem;
    transition: border-color 0.3s; /* Add transition for smooth effect */
    font-size: 1.1rem;
    /* min-width: 280px;   */
    /* max-width: 40rem; */
    height: 3.25rem;
    flex-grow: 1;
    font-size: 17px;
    flex:1;
    overflow: hidden;

    .source-icon {
        position: absolute;
        fill: var(--essential-bright-accent);
        opacity: 20%;
        max-width: 5rem; /*10rem 10rem no right was demo*/
        max-height: 5rem;
        transform: rotate(-45deg);
        right: 0rem;
    }

    .essential-info{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .thumbnail-container {
            position: relative;
            margin-right: 1rem;
            .thumbnail {
                max-width: 3rem;
                max-height: 3rem;
                object-fit: cover;
            }
            .play-icon {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                max-width: 1.5rem;
                max-height: 1.5rem;
                cursor: pointer;
                margin: 0;
                opacity: 0;
            }
        }
        
        .details {
            display: grid;
            align-items: column;
            justify-content: space-between;
            
            /* max-width: 40em;
             */
             max-width: 30vw;
            .name {
                color: var(--text-base);
                overflow: hidden; 
                text-overflow: ellipsis; /* Display an ellipsis (...) for the truncated text */
                white-space: nowrap;
                 /* max-width: 80%; */
                 max-width: 25vw;
            }
            .artist {
                position: absolute;
                align-items: left;
                left: 47%;
                color: var(--text-subdued);
                overflow: hidden; 
                text-overflow: ellipsis; /* Display an ellipsis (...) for the truncated text */
                white-space: nowrap;
                /* max-width: 30%; */
                max-width: 25vw;
            }
            overflow: hidden; 
            text-overflow: ellipsis; /* Display an ellipsis (...) for the truncated text */
            white-space: nowrap;
        }
    }
    
    
    @media (max-width: 1079px) {
        .essential-info .details {
            /* .name {
                max-width: 20rem;
            } */
            .artist {
                /* max-width: 20rem;
                 */
                 left: 0;
                 /* max-width: 80%; */
                 position: relative;
            }
        }
    }

    /* @media (max-width: 799px) {
        .stats .source-icon {
            position: absolute;
            
        }
    } */

    @media (max-width: 699px) {
        .stats .duration{
            display: none;
        }
    }
    
    
    .stats {
        position: absolute;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .heart-icon {
            max-width: 1.1rem;
            max-height: 1.1rem;
            cursor: pointer;
            opacity: 0;
            margin-top: 0.2rem;
            margin-right: 0.65rem;
        }
    
        .duration {
            text-align: center;
            color: var(--text-subdued);
            margin: 0 1.5rem;
        }
        
        .options-icon {
            margin-top: 0.5rem;
            max-width: 1.15rem;
            max-height: 1.15rem;
            cursor: pointer;
            margin-left: 0;
            opacity: 0;
            rotate: 90deg;
            z-index: 2;
        }
        padding-right: 1.5rem;
    }
}


.spotify-preview:hover {
    .source-icon {
        opacity: 40%;
    }
}