.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #78d3ca;
  font: "Abadi";
  font-size: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Styling classes for fundamental website components */

/* For website background */
.website-highlight1 {
  background-color: #78d3ca;
}

.website-highlight2 {
  background-color: #65a29c;
}

.website-background1 {
  background-color: #181717;
}

/* For menu tabs */
.website-background2 {
  background-color: #2B2929;
}

.website-highlight3 {
  background-color: #3B3838;
}

.website-highlight4 {
  background-color: #7F7F7F;
}

/* For fonts and headers */
.website-header1 {
  font-family: "Abadi", sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: rgba(35, 33, 33, 0.678);
}

.website-header2 {
  font-family: "Abadi", sans-serif;
  font-weight: normal;
  font-size: 28px;
  color: rgba(245, 245, 245, 0.827);
}

.website-text1 {
  font-family: "Abadi", sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: rgba(236, 236, 236, 0.829);
}

.website-text2 {
  font-family: "Abadi", sans-serif;
  font-weight: normal;
  font-size: 10px;
  color: rgba(236, 236, 236, 0.829);
}






