.container {
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  background-color: #181818;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.input {
  width: 300px;
  padding: 10px;
  margin-right: 10px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  transition: box-shadow 0.3s ease;
}

.input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(128, 128, 128, 0.5);
}

.button {
  padding: 10px 20px;
  background-color: #1db954;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.button:hover {
  background-color: #1ed760;
}

.results {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.spotify {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #282828;
  border-radius: 10px;
}

.spotify-heading {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #1db954;
}


.youtube {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #282828;
  border-radius: 10px;
}

.youtube-heading {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #d40a0a;
}

.section {
  margin-bottom: 20px;
}

.section-heading {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}
.preview {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #474747;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
}

.preview-title {
  font-size: 18px;
  font-weight: bold;
}

.preview-author,
.preview-info,
.preview-platform {
  font-size: 14px;
  color: #666;
}


.preview:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}