.track-options-container.active {
    outline: none;
    position: fixed;
    z-index: 9;
    background-color: rgb(49, 49, 49);
    display: flex;
    flex-direction: column;
    border-radius: 2px;

    
    
    .options-item {
        color: aliceblue;
        font-size: 14px;
        padding: 8px 18px;
    }
    
    .options-item:hover {
        cursor: pointer;
        background-color: var(--background-tinted-base);
    }
}

.track-options-container.inactive {
    display: none;
    visibility: hidden;
    opacity: 0;
}
