.playlist-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
  }
  
  .playlist-card {
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: box-shadow 0.3s;
    margin: 20px;

  }
  
  .playlist-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .playlist-image {
    width: 80%;
    border: 4px;
    /* height: 0; 
    padding-top: 100%; */
    object-fit: cover;
  }
  
  .playlist-details {
    padding: 12px;
  }
  
  .playlist-name {
    font-weight: bold;
    margin-bottom: 4px;
  }
  
  .playlist-creator {
    color: #888888;
    font-size: 14px;
  }
  