body {
  background-color: #181717;
}

.App-header {
  background-color: #181717;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
}

.App-link {
  color: #78d3ca;
  font: "Abadi";
  font-size: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page-container {
  display: flex;
}

.main-container {
  width: calc(100% - 240px);
  display: flex;
  flex-direction: column;
  margin-left: 240px;
}

main {
  margin-bottom: 3rem;
}

.general-player {
  position: fixed;
  bottom: 0;
  width: calc(100% - 240px);
  z-index: 5;
}


/* Styling classes for fundamental website components */

/* For website background */
.website-highlight1 {
  background-color: #78d3ca;
}

.website-highlight2 {
  background-color: #65a29c;
}

.website-background1 {
  background-color: #181717;
}

/* For menu tabs */
.website-background2 {
  background-color: #2B2929;
}

.website-highlight3 {
  background-color: #3B3838;
}

.website-highlight4 {
  background-color: #7F7F7F;
}

/* For fonts and headers */
.website-header1 {
  font-family: "Abadi", sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: rgba(35, 33, 33, 0.678);
}

.website-header2 {
  font-family: "Abadi", sans-serif;
  font-weight: normal;
  font-size: 28px;
  color: rgba(245, 245, 245, 0.827);
}

.website-text1 {
  font-family: "Abadi", sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: rgba(236, 236, 236, 0.829);
}

.website-text2 {
  font-family: "Abadi", sans-serif;
  font-weight: normal;
  font-size: 10px;
  color: rgba(236, 236, 236, 0.829);
}
