/* LoginPage.css */

.login-page {
  background-color: #121212;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgba(236, 236, 236, 0.829);
}

.login-input {
  background-color: #2B2929;
  color: rgba(236, 236, 236, 0.829);
  border: none;
  padding: 10px;
  margin-bottom: 10px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-button {
  background-color: var(--essential-bright-accent);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.create-account-button {
  background-color: #65a29c;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

.error-message {
  color: rgb(168, 53, 53);
  margin-top: 10px;
}

.logo-icon {
  fill: #78d3ca;
  width: 60px;
  height: 60px;
  margin-right: 5px;
}

.oauth-buttons-container {
  display: flex;
  justify-content: center;
}

.oauth-button {
  background-color: #121212;
  border: none;
  cursor: pointer;
}


.oauth-icon-youtube {
  background-color: #121212;
  width: 100px;
  height: 100px;
  margin: 10px;
}


.oauth-icon-spotify {
  background-color: #121212;
  width: 100px;
  height: 100px;
  margin: 10px;
}