.navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
    background-color: #65a29c;
    color: rgba(236, 236, 236, 0.829);
    padding: 20px;
    height: 100vh;
    position: fixed;
}

.navbar-top {
    align-self: center;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-picture {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 50%;
    object-fit: cover;
}

.username {
    font-weight: bold;
    margin: 10px;
}

.edit-button {
    background-color: #181717;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-bottom: 10px;
}

.navbar-menu {
    margin-left: 18px;
}

.navbar-menu li {
    margin-bottom: 10px;
}

.navbar-menu a {
    text-decoration: none;
    color: rgba(236, 236, 236, 0.829);
}

.signout-button {
    align-self: center;
    background-color: #181717;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 30px;
}