.navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 3rem;
    background-color: var(--essential-bright-accent);
    color: rgba(236, 236, 236, 0.829);
    padding: 1rem 2rem 1rem 1rem;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
}

.navbar-top {
    position: fixed;
    align-self: center;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.navbar-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 16rem;
    align-self: center;
    align-content: space-between;
    align-items: space-between;
}

.user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-picture {
    width: 3.5rem;
    height: 3.5rem;
    /* min-width: 5rem;
    min-height: 5rem; */
    margin-top: 1rem;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 0.5rem;
}

.username {
    font-weight: bold;
    /* margin: 10px; */
    font-size: (2vw + 0.35vh);
}

.edit-button {
    background-color: #181717;
    color: white;
    border: none;
    cursor: pointer;
    position: sticky;
}


.home-icon {
    width: 2rem;
    height: 2rem;
    align-self: center;
}

.playlists-icon {
    width: 2rem;
    height: 2rem;
    align-self: center;
}

.search-icon {
    width: 2rem;
    height: 2rem;
    fill: #181717;
    align-self: center;
}

.playlist-icon {
    width: 2rem;
    height: 2rem; 
    align-self: center;
}

.signout-icon{
    width: 1.5rem;
    height: 1.5rem;
    align-self: center;
    position: relative;
    left: 0.8rem;
    fill: #181717;
    cursor: pointer;
}


.navbar-menu a {
    text-decoration: none;
    color: #181717;
    font-size: 0.8rem;
    align-self: center;
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}

.navbar-bottom {
    margin-top: auto;
    align-items: center;
    align-self: center;
    align-content: center;
    position: fixed;
    bottom: 2rem;
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    color: #181717;
}
