.navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 10%;
    background-color: var(--essential-bright-accent);
    color: rgba(236, 236, 236, 0.829);
    padding: 1rem 2rem 1rem 1rem;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
}

.navbar-top {
    position: fixed;
    align-self: center;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.navbar-menu {
    position: fixed;
    align-self: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    top: 15rem;
}

.user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-picture {
    width: 8vw;
    height: 8vw;
    min-width: 5rem;
    min-height: 5rem;
    margin: 10px;
    border-radius: 50%;
    object-fit: cover;
}

.username {
    font-weight: bold;
    /* margin: 10px; */
    font-size: (2vw + 0.35vh);
}

.edit-button {
    background-color: #181717;
    color: white;
    border: none;
    cursor: pointer;
    position: sticky;
}



.navbar-menu a {
    text-decoration: none;
    color: rgba(236, 236, 236, 0.829);
    font-size: 1.25vw + 0.25vh;
    align-self: center;
    align-content: center;
}

.navbar-bottom {
    margin-top: auto;
    align-items: center;
    align-self: center;
    position: fixed;
    top: 42rem;
}

.signout-button {
    align-self: center;
    background-color: #181717;
    color: rgb(255, 255, 255);
    border: none;
    padding: 1vw + .25vh;
    font-size: 1.5vw + .25vh;
    cursor: pointer;
    border-radius: 10px;
}