.react-player {
    display: none;
}

.player-button:hover {
    cursor: pointer;
}

.icon {
    width: 2rem;
    height: 2rem;
    fill: currentColor;
    color: blueviolet;
}

.react-icon:hover {
    cursor: pointer;
    color: rgb(105, 105, 105);
}

.player-container {
    display: flex;
    background-color: black;
    height: 3rem;
    width: 100%;
    align-items: center;
}
