.playlists-page {
    background-color: var(--background-base);
    min-height: 100vh;
    /* display: flex; */
    /* flex-direction: column; */
    align-items: center;
    /* justify-content: center; */
    padding: 20px;
    font-size: calc(10px + 2vmin);
    color: var(--text-base);
    padding-left: 250px;
  }