.search-page {
  background-color: var(--background-base);
  min-height: 100vh;
  align-items: left;
  padding: 20px 20px 4.5rem 20px;
  position: relative;
  font-size: calc(10px + 2vmin);
  color: var(--text-base);
}
