.search-page {
  background-color: var(--background-base);
  min-height: 100vh;
  /* display: flex; */
  /* flex-direction: column; */
  align-items: left;
  /* justify-content: center; */
  padding: 3rem 2rem 5rem 0rem;
  position: relative;
  font-size: calc(10px + 2vmin);
  color: var(--text-base);
  /* padding-left: 250px; */
}